.photo-grid {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    max-width: calc(100% - 48px - 48px);
    gap: 14px 14px;
  } 
}

@media screen and (max-width: 984px) {
  .photo-grid {
    max-width: calc(100% - 24px - 24px);
    gap: 16px 16px;
  } 
}

@media screen and (max-width: 720px) {
  .photo-grid {
    max-width: calc(100% - 16px - 16px);
    gap: 12px 12px;
  }  
}