.footer__link {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 0;
}

.footer__link:last-of-type {
  margin-bottom: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 755px) {
  .footer__link  {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }  
}