.lead__image {
  max-width: 984px;
  min-height: 615px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    min-height: 580px;
    max-width: 100%;
  } 
}

@media screen and (max-width: 984px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 720px) {
  .lead__image {
    min-height: 200px;
  }  
}