.place__website {
  max-width: 456px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: flex-end;
}

@media screen and (max-width: 984px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 720px) {
  .place__website {
    grid-area: place__website;
    max-width: 90%;
    margin-left: 16px;
  }  
}